h1 {
	text-align: center;
	color: #ffcc00;
	font-family: 'Permanent Marker', cursive;
	font-size: 40px;

}

h2{
	text-align: center;
	color: #ffcc00;
	font-family: 'Caveat Brush', cursive;
	font-size: 50px;

}

h3 {
	text-align: left;
	color: #ffcc00;
	font-family: 'Permanent Marker', cursive;
	font-size: 20px;

}

body {
	background-image: url("juice_albums.jpg");
	background-size: cover;
	
}

a{
	text-decoration: none;
	color: #ffcc00;
}
