h1 {
	text-align: center;
	color: #ffcc00;
	font-family: 'Permanent Marker', cursive;
	font-size: 40px;

}

h2 {
	text-align: center;
	color: #ffcc00;
	font-family: 'Caveat Brush', cursive;
	font-size: 50px;

}


a:hover{
	text-decoration: none;
	color: #00ccff;
}

a{
	text-decoration: none;
	color: #ffcc00;
}

h3 {
	text-align: left;
	color: #ffcc00;
	font-family: 'Permanent Marker', cursive;
	font-size: 20px;
	text-decoration:none;

}

h4 {
	text-align: center;
	color:#cc0000;
	font-family: 'Caveat Brush', cursive;
	font-size: 40px;
	margin-right:30px;


}

body {
	background-color: white;
	min-height:100%;
  	background:linear-gradient(0deg,rgba(255, 255,255,0.3),rgba(255,255,255,0.3)), url("4.jpg");
  	background-size:cover;

}

.bundles {
	width:300px;
}



ul {
	  list-style-type: none;
	  margin: 0;
	  padding: 0;
	  overflow: hidden;
	  background-color: #333;
}
