h1 {
	text-align: center;
	margin-top:300px;
	color: #cc0000;
	font-family: 'Permanent Marker', cursive;
	font-size: 60px;

}

h2 {
	text-align: center;
	color: #cc0000;
	font-family: 'Caveat Brush', cursive;
	font-size: 50px;

}

h3 {
	text-align: center;
	color: #cc0000;
	font-family: 'Permanent Marker', cursive;
	font-size: 40px;

}

body {
  background:url("albums.jpg");
  background-size:cover;

}

a:hover{
	text-decoration: none;
	color: #ffcc00;
}

a{
	text-decoration: none;
	color: #00ccff;
}
